/* components/Accordion.module.css */
.accordion {
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.accordionHeader {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionContent {
    padding: 10px;
    background-color: #fff;
}

.accordionIcon {
    font-size: 12px;
}
